<div class="animate__animated animate__fadeIn animate__faster">
  <h3>Buscar por region <small>región activa: {{ regionActiva | titlecase}}</small></h3>
  <hr>
  <h5>Seleccione la región</h5>
  <!-- [class.btn-primary] = "regionActiva === region" -->
  <div class="row">
    <div class="col">
      <button *ngFor="let region of regiones"
      class="btn"
      [ngClass] = "{
        'btn-primary':region === regionActiva,
        'btn-outline-primary': region !== regionActiva
      }"
      (click)="activarRegion(region)">
        {{region | titlecase}}
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>
